In [2]:
import pandas as pd
import json
import numpy as np

In [3]:
df = pd.read_csv('/Users/jlh/final-project2/data/instacart/MLcategories.csv')

In [3]:
df["product_name"].nunique()

47799

In [9]:
df["user_id"].value_counts()

33731    2888
4694     2735
17738    2596
60694    2579
5360     2561
         ...
52168       3
54453       3
10644       3
30669       3
58941       3
Name: user_id, Length: 63100, dtype: int64

In [4]:
df_limited = df[df.groupby("user_id")['user_id'].transform('size') > 1900]
df_limited["user_id"].value_counts()

33731    2888
4694     2735
17738    2596
60694    2579
5360     2561
13701    2547
57546    2445
23832    2429
52008    2386
23371    2357
3830     2343
6710     2293
5588     2223
2335     2212
4625     2117
37592    2106
30910    2104
43758    2009
16274    2003
9036     2003
31789    1969
38683    1965
44330    1956
48632    1950
28087    1946
32099    1945
54485    1940
1563     1940
59819    1936
39901    1916
Name: user_id, dtype: int64

In [5]:
df["user_id"].value_counts()
df["department"].value_counts(ascending=False)
df["product_name"].value_counts(ascending=False)

Banana                                 145327
Bag of Organic Bananas                 116349
Organic Strawberries                    80107
Organic Baby Spinach                    74552
Organic Hass Avocado                    66862
                                        ...
Oil Basic Cleansing Facial Cleanser         1
100% Mountain Spring Water                  1
Lentil Trio, Organic                        1
Imperial Champagne                          1
Mayonnaise Pouch                            1
Name: product_name, Length: 47799, dtype: int64

In [8]:
df_limited2 = df_limited[df_limited.groupby("product_name")['product_name'].transform('size') > 60]
df_limited2["product_name"].value_counts()
df_limited2["product_name"].nunique()

204

In [7]:
df_limited3 = df_limited2[df_limited2.groupby("aisle")['aisle'].transform('size') > 120]
df_limited3["aisle"].value_counts()

fresh fruits                     8269
fresh vegetables                 2773
packaged vegetables fruits       2494
yogurt                           1046
water seltzer sparkling water     995
packaged cheese                   861
soy lactosefree                   759
milk                              698
refrigerated                      650
cream                             511
breakfast bakery                  498
bread                             399
other creams cheeses              283
fresh dips tapenades              263
frozen produce                    185
lunch meat                        179
canned fruit applesauce           173
baby food formula                 161
oils vinegars                     159
juice nectars                     144
canned meals beans                144
fresh herbs                       128
tofu meat alternatives            124
eggs                              121
Name: aisle, dtype: int64

In [8]:
df_limited4 = df_limited3[df_limited3.groupby("department")['department'].transform('size') > 100]
df_limited4["department"].value_counts()

produce         13664
dairy eggs       4279
beverages        1789
bakery            897
deli              566
canned goods      317
frozen            185
babies            161
pantry            159
Name: department, dtype: int64

In [9]:
df_limited4.to_csv("LimitedData.csv")

In [11]:
df_limited3 = df_limited2[df_limited2.groupby("department")['department'].transform('size') > 80]
df_limited3["department"].value_counts()

produce            10013
dairy eggs          6226
beverages           1775
snacks              1495
deli                 751
bakery               414
canned goods         397
breakfast            384
babies               378
frozen               267
meat seafood         133
pantry               113
household             85
dry goods pasta       84
Name: department, dtype: int64

In [12]:
df_limited3.to_csv("LimitedData.csv")