In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
df = pd.read_csv('/Users/jlh/final-project/data/instacart/MLcategories.csv')
df.head()

,user_id,order_id,product_id,product_name,department,aisle
0,1,550135,25133,Organic String Cheese,dairy eggs,packaged cheese
1,1,550135,12427,Original Beef Jerky,snacks,popcorn jerky
2,1,3367565,196,Soda,beverages,soft drinks
3,1,3367565,10258,Pistachios,snacks,nuts seeds dried fruit
4,1,3367565,12427,Original Beef Jerky,snacks,popcorn jerky

In [3]:
df["product_name"].nunique()

47799

In [9]:
df["user_id"].value_counts()

33731    2888
4694     2735
17738    2596
60694    2579
5360     2561
         ...
52168       3
54453       3
10644       3
30669       3
58941       3
Name: user_id, Length: 63100, dtype: int64

In [11]:
df_limited = df[df.groupby("user_id")['user_id'].transform('size') > 2000]
df_limited["user_id"].value_counts()

33731    2888
4694     2735
17738    2596
60694    2579
5360     2561
13701    2547
57546    2445
23832    2429
52008    2386
23371    2357
3830     2343
6710     2293
5588     2223
2335     2212
4625     2117
37592    2106
30910    2104
43758    2009
9036     2003
16274    2003
Name: user_id, dtype: int64

In [12]:
df["user_id"].value_counts()
df["department"].value_counts(ascending=False)
df["product_name"].value_counts(ascending=False)

Banana                                                          145327
Bag of Organic Bananas                                          116349
Organic Strawberries                                             80107
Organic Baby Spinach                                             74552
Organic Hass Avocado                                             66862
                                                                 ...
Pickled Asparagus                                                    1
Simply Strawberry Banana & Apple Freeze Dried Fruits                 1
Coffee-Mate Star Wars Spiced Latte Coffee Creamer                    1
Blackberry Pomegranate Iced Green Tea To Go Packets                  1
Optic White Platinum Toothpaste White & Radiant Crystal Mint         1
Name: product_name, Length: 47799, dtype: int64

In [23]:
df_limited2 = df_limited[df_limited.groupby("product_name")['product_name'].transform('size') > 75]
df_limited2["product_name"].value_counts()
df_limited2["product_name"].nunique()

72

In [25]:
df_limited3 = df_limited2[df_limited2.groupby("aisle")['aisle'].transform('size') > 100]
df_limited3["aisle"].value_counts()

fresh fruits                     2817
yogurt                            935
packaged vegetables fruits        927
fresh vegetables                  495
water seltzer sparkling water     356
refrigerated                      273
soy lactosefree                   267
chips pretzels                    266
milk                              262
packaged produce                  257
cereal                            242
packaged cheese                   201
fresh dips tapenades              177
bread                             123
frozen produce                    117
Name: aisle, dtype: int64

In [28]:
df_limited4 = df_limited3[df_limited3.groupby("department")['department'].transform('size') > 100]
df_limited4["department"].value_counts()

produce       4496
dairy eggs    1665
beverages      629
snacks         266
breakfast      242
deli           177
bakery         123
frozen         117
Name: department, dtype: int64

In [29]:
df_limited4.to_csv("LimitedData.csv")

In [30]:
df_limited4

,user_id,order_id,product_id,product_name,department,aisle
347526,2335,576673,27104,Fresh Cauliflower,produce,fresh vegetables
347533,2335,576673,19057,Organic Large Extra Fancy Fuji Apple,produce,fresh fruits
347546,2335,576673,24852,Banana,produce,fresh fruits
347567,2335,2270991,27104,Fresh Cauliflower,produce,fresh vegetables
347570,2335,2270991,16797,Strawberries,produce,fresh fruits
...,...,...,...,...,...,...
9564010,60694,1377201,30776,Organic Raw Kombucha Gingerade,beverages,refrigerated
9564026,60694,1721956,49247,Coconut Yoghurt,dairy eggs,yogurt
9564034,60694,1721956,34050,Orange Juice,beverages,refrigerated
9564045,60694,1721956,30776,Organic Raw Kombucha Gingerade,beverages,refrigerated
9564061,60694,2136777,49247,Coconut Yoghurt,dairy eggs,yogurt