In [3]:
import pandas as pd
import json
import numpy as np

In [4]:
df = pd.read_csv('/Users/jlh/final-project/data/instacart/MLcategories.csv')
df.head()

,user_id,order_id,product_id,product_name,department,aisle
0,1,550135,25133,Organic String Cheese,dairy eggs,packaged cheese
1,1,550135,12427,Original Beef Jerky,snacks,popcorn jerky
2,1,3367565,196,Soda,beverages,soft drinks
3,1,3367565,10258,Pistachios,snacks,nuts seeds dried fruit
4,1,3367565,12427,Original Beef Jerky,snacks,popcorn jerky

In [5]:
df["user_id"].value_counts()

33731    2888
4694     2735
17738    2596
60694    2579
5360     2561
         ...
52168       3
54453       3
10644       3
30669       3
58941       3
Name: user_id, Length: 63100, dtype: int64

In [23]:
df_limited = df[df.groupby("user_id")['user_id'].transform('size') > 1250]
df_limited

,user_id,order_id,product_id,product_name,department,aisle
28176,210,2437861,35547,Organic Baby Kale,produce,fresh vegetables
28177,210,1074721,24852,Banana,produce,fresh fruits
28178,210,1357891,24852,Banana,produce,fresh fruits
28179,210,1357891,23909,2% Reduced Fat Milk,dairy eggs,milk
28180,210,1357891,23375,Marinara Sauce,dry goods pasta,pasta sauce
...,...,...,...,...,...,...
9923821,63073,941715,41149,Organic Riced Cauliflower,missing,missing
9923822,63073,941715,20082,Organic Whole Milk with DHA Omega-3,dairy eggs,milk
9923823,63073,941715,10551,Banana Bread Fruit & Nut Bar,snacks,energy granola bars
9923824,63073,941715,19173,Orange Calcium & Vitamin D Pulp Free,beverages,juice nectars
9923825,63073,3211906,6489,Backyard Barbeque Potato Chips,snacks,chips pretzels

In [24]:
df_limited.to_csv("1250_aboveData.csv")